section#home {
    height: 110vh;
}

section#home #wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 76%;
}

section#home #wrapper h1 {
    margin-bottom: 30px;
    font-size: xxx-large;
}

section#home #wrapper #description {
    font-family: 'Montserrat-Light';
    font-size: x-large;
    letter-spacing: 0px;
    word-spacing: 0px;
    line-height: 28px;
}

section#home #wrapper #description a {
    font-family: 'Montserrat-Bold';
    text-decoration: none;
    color: var(--second-color);
}

@media only screen and (max-width: 600px) {

    section#home #wrapper {
    }

    section#home #wrapper h1 {
        font-size: xx-large;
        text-align: center;
    }

    section#home #wrapper #description {
        font-size: larger;
    }
}