section#contact {
    height: 110vh;
}

section#contact::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    background-color: black;
    box-shadow: 0px 0px 10px #0000008f;
    /*-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);*/
}

section#contact #wrapper {
    color: white;
    padding: 14% 12% 30% 12%;
    background: black;
    border-top-left-radius: 60%;
}

section#contact #wrapper h1 {
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 5%;
}

section#contact #wrapper form {
    overflow: hidden;
    margin-bottom: 40px;
}

section#contact #wrapper form input,
section#contact #wrapper form textarea {
    display: block;
    font-family: Montserrat-Light;
    font-size: large;
    width: 100%;
    max-width: -webkit-fill-available !important;
    height: 35px;
    padding-left: 8px;
    margin-bottom: 4%;
}

section#contact #wrapper form input:focus,
section#contact #wrapper form textarea:focus {
    outline-style: none;
}

section#contact #wrapper form input[type="text"],
section#contact #wrapper form input[type="email"] {
    float: left;
    width: 46%;
}

section#contact #wrapper form input[type="text"] {
    margin-right: 3.7%;
}

section#contact #wrapper form textarea {
    width: 100% !important;
    min-height: 100px;
    padding-top: 6px;
}

section#contact #wrapper form input[type="submit"] {
    background: white;
    color: black;
    font-family: Montserrat-Bold;
    box-shadow: 0 0 4px white;
    cursor: pointer;
    margin-top: 6%;
    height: 50px;
}

section#contact #wrapper form input[type="submit"]:hover {
    background: blue;
    color: white;
}

section#contact hr {
    margin-bottom: 20px;
}

section#contact #description {
    text-align: justify;
    font-family: 'Montserrat-Light';
    font-size: x-large;
    letter-spacing: 0px;
    word-spacing: 5px;
    line-height: 28px;
}

section#contact #description span {
    display: block;
    margin: 0 auto;
    text-align: center;
}

section#contact #description span svg {
    font-size: xxx-large;
    text-decoration: none;
    margin: 0 2%;
    color: white;
}

@media only screen and (max-width:600px) {
    section#contact #wrapper {}

    section#contact #wrapper {
        padding: 25% 12%;
    }

    section#contact #wrapper h1 {
        font-size: xx-large;
    }

    section#contact #wrapper form input[type="text"],
    section#contact #wrapper form input[type="email"] {
        float: none;
        width: 100%;
    }

    section#contact #wrapper form input[type="text"] {
        margin-right: 0%;
    }

    section#contact #description {
        font-size: larger;
    }
}