footer {
    position: absolute;
    line-height: 300%;
    text-align: center;
    width: 100%;
    background: var(--fourth-color);
    box-shadow: 0 0 5px var(--fourth-color);
}

footer #description {
    text-align: center;
}

footer #description span {
    margin: 0 auto;
    margin: 40px 1%;
    text-align: center;
    display: inline-block;
    width: 25%;
}

footer #description span svg {
    font-size: xxx-large;
    text-decoration: none;
    color: white;
}

footer #description span svg:hover { 
color: var(--second-color);
}

footer #copy {
    border-top: 1px solid var(--first-color);
    font-family: 'Montserrat-Medium';
    font-size: larger;
    color: white;
}

@media only screen and (max-width: 600px) {
    footer #description span svg {
        font-size: xx-large;
    }
}