*{
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #005C7B;
  --second-color: #FC4A1A;
  --third-color: #05BAC5;
  --fourth-color: #000000;
  --fifth-color: #ffffff;
}

.App {
  margin:0 auto;
  width: 1200px;
}

.clearfix {
  clear: both;
  float: none;
}

@font-face {
    font-family: Montserrat-Light;
    src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: WebSymbols-Regular;
    src: url('./assets/fonts/WebSymbols-Regular.otf') format('opentype');
}